/* Colors */
:root {
  --main-bg-color: #202020;
  --hr-bg: rgba(172, 172, 172, 0.2);
  --input-border: rgba(33, 33, 33, 0.2);
  --andMore: lightgray;
  --bookmarkShortcut: gray;
  --bookmarkPath: #86AFF1;
  color-scheme: dark;
}

body {
  font-size: medium;
  min-width: 300px;
  max-width: 300px;
  background-color: var(--main-bg-color);
}
hr {
  border: none;
  height: 1px;
  background-color: var(--hr-bg);
}
img {
  height: 100%;
  padding: 0 5px;
}
#root {
  cursor: pointer;
  max-height: 405px;
  height: fit-content;
  overflow: scroll;
}
#root > div {
  padding: 0 8px 0 8px;
}
#root > div > div {
  padding: 0 8px;
}
input {
  height: 30px;
  width: 90%;
  outline: none;
  width: 90%;
  border-radius: 5px;
  border-color: var(--input-border);
  padding: 0 10px;
}
span {
  margin: 0 0;
  max-width: 70%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header {
  padding: 10px;
  text-align: center;
  display: flex;
}

.andMore {
  cursor: default;
  color: var(--andMore);
}

.bookmarkTitle {
  width: 200px;
}

.bookmarkShortcut {
  color: var(--bookmarkShortcut);
}

.bookmarkPath {
  font-size: small;
  color: var(--bookmarkPath);
}
